# <center> MySQL with Python </center>

### Driver Installation

In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp39-cp39-win_amd64.whl (7.7 MB)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.29
Note: you may need to restart the kernel to use updated packages.

### E.g1:- Write a Python Script to Create table?

In [9]:
import mysql
import mysql.connector
conn = mysql.connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')
sql = "create table emp(empno int,ename varchar(20),sal int,gneder varchar(6),dno int)"
cursor = conn.cursor()
cursor.execute(sql)
cursor.close()
conn.close()

### E.g2:- Write Python Script to test MySQL Database Version

In [12]:
import mysql
import mysql.connector
conn = mysql.connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')
sql = 'select version()'
cursor = conn.cursor()
cursor.execute(sql)
print(cursor.fetchone())
cursor.close()
conn.close()

('8.0.29',)

### E.g3:- Write a Python Script to create “cfamilyit” database if not existed and print list of databases?

In [15]:
import mysql
import mysql.connector
conn = mysql.connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')
sql1 = 'create database if not exists cfamilyit'
sql2 = 'show databases'
cursor = conn.cursor()
cursor.execute(sql1)
cursor.execute(sql2)
for row in cursor.fetchall():
    print(row)
cursor.close()
conn.close()

('cfamilyit',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sede',)
('sys',)
('world',)

### E.g4:- Write a Python Script to print list of tables of ‘cfamilyit’ database?

In [16]:
from mysql import connector
conn = connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')
sql = 'show tables'
cursor = conn.cursor()
cursor.execute(sql)
for row in cursor.fetchall():
    print(row)
cursor.close()
conn.close()

('emp',)

### E.g5:- Write a Python Script to create ‘emp’ table in ‘cfamilyit’ database?

In [17]:
from mysql import connector
conn = connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')
sql = "create table if not exists emp(empno int,ename varchar(20),sal int,gneder varchar(6),dno int)"
cursor = conn.cursor()
cursor.execute(sql)
cursor.close()
conn.close()

### E.g6:- Write a Python Script to insert Single row in a ‘emp’ table of ‘cfamilyit database?

In [21]:
from mysql import connector
conn = connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')
sql = '''
        insert into emp(empno,ename,sal,gneder,dno) 
        values(101,'sreenivas',20000,'m',11)
'''
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
cursor.close()
conn.close()

### E.g7:- Write a Python Script to insert Multiple rows in a ‘emp’ table of ‘cfamilyit database?

In [24]:
from mysql import connector
conn = connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')
sql = '''
        insert into emp(empno,ename,sal,gneder,dno) 
        values(%s,%s,%s,%s,%s)
'''
list_of_employees = [
    (102,'swathi',15000,'f',11),
    (103,'badri',35000,'m',12),
    (104,'alia',25000,'f',12),
    (105,'pavan',25000,'m',13)
]
cursor = conn.cursor()
cursor.executemany(sql,list_of_employees)
conn.commit()
cursor.close()
conn.close()

### E.g8:- Write a Python Script to insert Multiple rows Dynamically into ‘emp’ table of ‘cfamilyit database?

In [25]:
from mysql import connector
conn = connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')
sql = '''
        insert into emp(empno,ename,sal,gneder,dno) 
        values(%s,%s,%s,%s,%s)
'''
list_of_employees = []
ch = 'y'
while ch == 'y':
    empno = int(input("Enter Empno:"))
    ename = input("Enter Ename:")
    sal = int(input("Enter Salary:"))
    gender = input("Enter gender:")
    dno = int(input("Enter dno:"))
    emp = (empno,ename,sal,gender,dno)
    list_of_employees.append(emp)
    ch = input("Do want insert one more say y for insert n for not interested:")
cursor = conn.cursor()
cursor.executemany(sql,list_of_employees)
conn.commit()
cursor.close()
conn.close()

Enter Empno:1000
Enter Ename:fhshikdf
Enter Salary:1010101
Enter gender:m
Enter dno:11
Do want insert one more say y for insert n for not interested:n

### E.g9:- Select One row from emp table of cfamily database?

In [26]:
from mysql import connector
conn = connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')

sql = "select * from emp"
cursor = conn.cursor()
cursor.execute(sql)

#fetch one record from emp table
#fetchone() – To read one record from result.
# for row in cursor.fetchone():
#     print(row)
print(cursor.fetchone())

cursor.close()
conn.close()

(101, 'sreenivas', 20000, 'm', 11)

InternalError: Unread result found

### E.g10:- Select multiple rows from emp table of cfamily database?

In [27]:
from mysql import connector
conn = connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')

sql = "select * from emp"
cursor = conn.cursor()
cursor.execute(sql)

#fetch specified no.of records from emp table
#fetchmany(n) – To read specified no.of records from result.
rows = cursor.fetchmany(5)
for row in rows:
    print(row)
    print("*"*20)

cursor.close()
conn.close()

(101, 'sreenivas', 20000, 'm', 11)
********************
(102, 'swathi', 15000, 'f', 11)
********************
(103, 'badri', 35000, 'm', 12)
********************
(104, 'alia', 25000, 'f', 12)
********************
(105, 'pavan', 25000, 'm', 13)
********************

InternalError: Unread result found

### E.g11:- Select all rows of a emp table of cfamily database?

In [28]:
from mysql import connector
conn = connector.connect(host='localhost',
                        database='cfamilyit',
                        user='root',
                        password='Cfamily*123')

sql = "select * from emp"
cursor = conn.cursor()
cursor.execute(sql)

#fetch all records from emp table
##fetchall() – To read all records from result.
rows = cursor.fetchall()
for row in rows:
    print(row)
    print("*"*20)

cursor.close()
conn.close()

(101, 'sreenivas', 20000, 'm', 11)
********************
(102, 'swathi', 15000, 'f', 11)
********************
(103, 'badri', 35000, 'm', 12)
********************
(104, 'alia', 25000, 'f', 12)
********************
(105, 'pavan', 25000, 'm', 13)
********************
(1000, 'fhshikdf', 1010101, 'm', 11)
********************