# <center>SQLite with Python Examples</center>

### E.g1:- Create a Database or Connect a Database

In [2]:
#import sqlite3 module
import sqlite3

#create connection to database
con = sqlite3.connect('cfamilyit.db')

#print message
print("Database connection created/opened successfully")

#close connection
con.close()

Database connection created/opened successfully

### E.g2:- Create a table â€“ emp

In [3]:
#import sqlite3 module
import sqlite3

#create connection to database
con = sqlite3.connect('cfamilyit.db')

#Prepare SQL Statement
sql = '''CREATE TABLE emp(empno INT PRIMARY KEY NOT NULL,
         ename TEXT NOT NULL,
         sal INT NOT NULL,
         gender CHAR(6),
         dno INT);'''
#Send SQL query
con.execute(sql)

#print message
print("Table emp created successfully")
#close connection
con.close()

Table emp created successfully

### E.g3:- Insert Data Into Emp Table

In [4]:
#import sqlite3 module
import sqlite3

#create connection to database
con = sqlite3.connect('cfamilyit.db')

#Prepare SQL Statement
sql = '''INSERT INTO emp(empno,ename,sal,gender,dno)
         values(101,'sreenivas',20000,'male',11)'''
#Send SQL query
con.execute(sql)

#Handle Transaction
con.commit()

#print message
print("Table is inserted successfully")

#close connection
con.close()

Table is inserted successfully

### E.g4:- Insert Multiple Records at a time Into Emp Table

In [6]:
#import sqlite3 module
import sqlite3

#create connection to database
con = sqlite3.connect('cfamilyit.db')

#Prepare SQL Statement
sql = '''INSERT INTO emp(empno,ename,sal,gender,dno)
         values(?,?,?,?,?)'''
values = [
    (102,'swathi',15000,'female',11),
    (103,'badri',35000,'male',12),
    (104,'alia',25000,'female',12),
    (105,'pavan',25000,'male',13),
    (106,'meena',15000,'female',13),
]
#Send SQL query
con.executemany(sql,values)

#Handle Transaction
con.commit()

#print message
print("Table is inserted with multiple records successfully")

#close connection
con.close()

Table is inserted with multiple records successfully

### E.g5:- Read data from emp table

In [7]:
#import sqlite3 module
import sqlite3

#create connection to database
con = sqlite3.connect('cfamilyit.db')


#Prepare SQL Statement
sql = '''select * from emp'''

#Send sql query
cursor = con.execute(sql)

#Result Handling
for row in cursor.fetchall():
    print(row)

#print message
print("Table is read completed successfully")

#close connection
con.close()

(101, 'sreenivas', 20000, 'male', 11)
(102, 'swathi', 15000, 'female', 11)
(103, 'badri', 35000, 'male', 12)
(104, 'alia', 25000, 'female', 12)
(105, 'pavan', 25000, 'male', 13)
(106, 'meena', 15000, 'female', 13)
Table is read completed successfully

### More Elaborative way

In [8]:
#import sqlite3 module
import sqlite3

#create connection to database
con = sqlite3.connect('cfamilyit.db')


#Prepare SQL Statement
sql = '''select * from emp'''

#Send sql query
cursor = con.execute(sql)
#Result Handling
for row in cursor.fetchall():
    print(row[0],'...',row[1],'...',row[2],'...',row[3],'...',row[4])

101 ... sreenivas ... 20000 ... male ... 11
102 ... swathi ... 15000 ... female ... 11
103 ... badri ... 35000 ... male ... 12
104 ... alia ... 25000 ... female ... 12
105 ... pavan ... 25000 ... male ... 13
106 ... meena ... 15000 ... female ... 13